body {
    margin: 0 auto;
    accent-color: rgb(254, 141, 84);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
    font-family: cursive;
}

/*Header styling*/
header {
    background-color: rgb(254, 141, 84);
    padding-bottom: .25rem;
}

#hero {
    position: relative;
    width: 100%;
}

#hero img {
    max-width: 100%;
    height: auto;
}

#scoots {
    position: absolute;
    background-color: rgba(254, 141, 84, 0.709);
    width: 100%;
    color: rgb(7, 37, 113);
    top: 10px;
    right: 0;
    padding: 1rem;
    margin: 0;
    text-align: center;
    font-size: 45px;
    font-family: cursive;
}

#banner {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 150px;
    padding: .25rem;
    background-color: rgb(7, 37, 113);
    color: white;
    border-radius: 1rem;
    border: none;
}

#banner:hover {
    background-color: rgb(254, 141, 84);
    color: rgb(7, 37, 113);
}

.navigation a {
    color: rgb(7, 37, 113);
    text-decoration: none;
    padding: 2rem;
    display: none;
    font-family: cursive;
    font-weight: bold;
}

/*Hamburger menu*/
#menu {
    display: block;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "🅇";
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(254, 141, 84);
}

.open a {
    display: block;
}

/*Main styling*/
#home-main {
    display: grid;
    grid-template-columns: 1fr;
}

/*Home - Weather*/
#weather-aside {
    width: 100%;
}

#current-weather,
#tomorrows-weather {
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(7, 37, 113, 0.482);
}

/*Home - Rentals*/
#cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
}

#cards article {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(7, 37, 113, 0.482);
}

/*Home - Call to action*/
#call-to-action-section {
    position: relative;
    text-align: center;
}

#call-to-action-section img {
    border-radius: 1rem;
    width: 90%;
    height: auto;
}

#call-to-action-section h2 {
    background-color: rgb(254, 141, 84);
    color: rgb(7, 37, 113);
    margin: 1rem;
    width: 50%;
    position: absolute;
    left: 4.5rem;
    border-radius: .25rem;
}

/*Reservations - Form*/
form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

form label {
    display: block;
    margin-top: 1rem;
}

#fName,
#lName,
#email,
#telephone,
#home,
#form-date,
#period,
#rentalNumber,
#cruiseline,
#comments,
#name,
#contact-email,
#contact-comments {
    display: block;
}

input[type="submit"] {
    width: fit-content;
    padding: .5rem;
    margin: 1rem;
}

label ul {
    list-style-type: none;
}

/*Rentals Page*/
#rental-vehicles tr:nth-child(2n + 3),
th {
    background-color: rgba(7, 37, 113, 0.14);
}

#rental-vehicles {
    width: 100%;
}

td,
th {
    padding: 1rem;
}

/*Contact page Styling*/

#contact-section,
#contact-form,
#location {
    margin: 1rem;
}

#contact-form form {
    padding-top: 0;
}

#location iframe {
    width: 100%;
}

#contact-section p {
    padding-left: 1rem;
}

#contact-form input[type="submit"] {
    margin-left: 0;
}

/*Footer styling*/
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(254, 141, 84);
    color: rgb(7, 37, 113);
    align-content: center;
}

#social-media a img {
    height: 25px;
    width: auto;
}

#attributions a {
    text-decoration: none;
    color: rgb(7, 37, 113);

}