h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
}

img {
    border-radius: 1rem;
    background: black;
    animation: fade 10s;
}

footer {
    text-align: center;
    margin: 1rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}